h1 {
    text-align: center;
    font-size: 500%;
}
a:link {
    color: plum;
}
a:hover {
    color: yellow;
}
.linkMenu {
    text-align: center;
}
.bodyCopy {
    color:red;
    font-size: 200%;
    text-align: center;
}